<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" href="@ViewBag.HelpRoute/HelpPageCss/?cssFileName=bootstrap" rel="stylesheet" />
    <link type="text/css" href="@ViewBag.HelpRoute/HelpPageCss/?cssFileName=HelpPage" rel="stylesheet" />    
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>    
</body>
</html>